<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/error.css">
    <title>EvaluationUA</title>

</head>
<body>
<script>
  ga(‘set’, ‘&uid’, {{USER_ID}}); // Установити ідентифікатор користувача на основі параметра user_id після входу.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66638248-1', 'auto');
  ga('send', 'pageview');

</script>
        <div class="wrapper">
            <div class="content-a">
                <div class="content-b">
                  <div class="block-button">
                    <a href="index"><input type="image" src="../static/img/button-2.png"></a>
                  </div>
                </div>
            </div>
        </div>

    <div id="socbutton-bar">
        <ul>
            <li><a onclick="window.open('http://vk.com/miwolf', 'vkontakte', 'width=626, height=436'); return false;" href="http://vk.com/miwolf" rel="nofollow"><img src="../static/img/vk-logo.png" width="44" height="44" border="0" title="Я во Вконтакте" ></a></li>
            <li><a onclick="window.open('https://www.facebook.com/niko.iakovliev', 'facebook', 'width=626, height=436'); return false;" rel="nofollow" href="https://www.facebook.com/niko.iakovliev"><img src="../static/img/facebook-logo.png" width="44" height="44" title="Я в Facebook" border="0" ></a></li>
            <li><a onclick="window.open('https://www.linkedin.com/profile/view?id=340184049', 'mmir', 'width=626, height=436'); return false;" rel="nofollow" href="https://www.linkedin.com/profile/view?id=340184049"><img src="../static/img/in-logo.png" border="0" width="44" height="44" title="Я в LinkedIn" ></a></li>
        </ul>
    </div>
</body>
</html>
